<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Youth Florist since 2018, always focus on provide high quality flowers and excellent services for our customers. 
          Our flower shop was founded by a young floral designer who's creative and passionate, with years of experience in floral art. 
          In just a few years, we have earned the trust and good reviews from many customers, and become one of the well-known flower shops in Johor Bahru. </p>
      </div>
      <div class="col-lg-4">
        <p>We are committed to creating beautiful, unique, trendy, and thoughtful floral works, to provide our customers with a satisfying shopping experience. 
          Whether it's a birthday, anniversary, proposal or holiday gift, we can tailor the most suitable bouquet for you. 
          We hope to add more colors and beautiful memories to your life through our floral art.</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
